Source: presto
Section: science
Priority: optional
Maintainer: Gijs Molenaar (launchpad ppa build key) <gijs@pythonic.nl>
Build-Depends: debhelper (>=9), pkg-config, libx11-dev, libpng12-dev,
 libglib2.0-dev, pgplot5, libcfitsio3-dev, libfftw3-dev, gfortran,
 python-numpy, dh-python, libpython2.7-dev
Standards-Version: 3.9.6
Homepage: https://github.com/scottransom/presto/
X-Python-Version: 2.7

Package: presto
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tempo, latex2html
Description: a large suite of pulsar search and analysis software

Package: python-presto
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, tempo, python-numpy,
 python-scipy, python-matplotlib, python-astropy, presto
Description: a large suite of pulsar search and analysis software
