#!/usr/bin/make -f

export PRESTO = ${CURDIR}
export PGPLOT_DIR = /usr/lib

%:
	dh $@ --sourcedirectory=src --parallel --with python2 --buildsystem=pybuild

override_dh_auto_build:
	export
	cd src && make -j
	cd src && make makewisdom -j
	cd python && python setup.py build
	#cd python/fftfit_src ; f2py -c fftfit.pyf *.f

override_dh_auto_install:
	cd python && python setup.py install \
				--force --root=$(CURDIR)/debian/python-presto \
						--no-compile -O0 --install-layout=deb
	cp lib/python/*.py $(CURDIR)/debian/python-presto/usr/lib/python2.7/dist-packages/presto/
	#cp python/fftfit_src/fftfit.so $(CURDIR)/debian/python-presto/usr/lib/python2.7/dist-packages/presto/


override_dh_auto_clean:
	cd python && python setup.py clean
	cd src && make clean

override_dh_python2:
	dh_python2
	dh_numpy
